---
- name: Configure Application Servers
  hosts: webservers
  become: yes
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Install Docker
      apt:
        name:
          - docker.io
          - docker-compose
        state: present
      when: ansible_os_family == "Debian"

    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: yes

    - name: Install Node.js
      apt:
        name:
          - nodejs
          - npm
        state: present

    - name: Install Nginx
      apt:
        name: nginx
        state: present

    - name: Start Nginx
      service:
        name: nginx
        state: started
        enabled: yes

    - name: Create application directory
      file:
        path: /opt/calendra
        state: directory
        mode: "0755"

- name: Configure Database Servers
  hosts: databases
  become: yes
  tasks:
    - name: Install PostgreSQL
      apt:
        name:
          - postgresql
          - postgresql-contrib
        state: present
      when: ansible_os_family == "Debian"

    - name: Start PostgreSQL service
      service:
        name: postgresql
        state: started
        enabled: yes

    - name: Install Python PostgreSQL adapter
      apt:
        name: python3-psycopg2
        state: present
